*{
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #454545;
    margin:2%;
    
}

h1 {
    color: yellow;
    font-size: 48px;
    text-align: center;
}
h3 {
    color: magenta;
    font-size: 34px;
}
h4{
    color: pink;
}
img {
    box-shadow: 10px 10px 5px grey;
    margin: 10px;
}

.centered{
    text-align: center;
}
#notes{
    text-decoration: underline;
}
input[type="text"]{
    background-color: azure;
}


