h1 {
    color: yellow;
    font-size: 48px;
    text-align: center;
}
h3 {
    color: magenta;
    font-size: 34px;
}
h4{
    color: pink;
}
img {
    box-shadow: 10px 10px 5px grey;
    margin: 10px;
}

body {
    background-color: #454545;
}